// Mixin: Bg
//
// Makes background (with image) declarations a little simpler. Use this with
// the global img-path variable to set a base image path that you don't have to
// keep repeating. Also sets 'no-repeat' as the default background-repeat.
//
// ex. bg: 'test.png'
// ex. bg: 'other.jpg' center center repeat

bg($path, $args...)
  $args = unquote('no-repeat') unless $args
  background: url($path) $args

// Mixin: bg-retina
//
// Make sure the image path is double the size, pass it halved numbers, and
// you're in the retina-clear.
//
// ex. bg-retina: 'test.png' 200px 100px
// ex. bg-retina: 'other.jpg' 100px 50px center center repeat

bg-retina($path, $width, $height, $args...)
  $args = unquote('no-repeat') unless $args
  $set_size = false

  for $arg in $args
    if $arg == 'no-repeat'
      $set_size = true

  background: url($path) $args
  background-size: $width $height

  if $set_size
    size: $width $height