// Mixin: Vertically Align
// Cross browser vertical align. Works down to IE9.
//
// ex. vertically-align() or reset it with vertically-align(false)

vertically-align($reset = null)
  if $reset != false
    position: relative
    top: 50%
    transform: translateY(-50%)
  else
    position: relative
    top: 0
    transform: translateY(0)