<template lang="pug">
  .button(
    :class='extCssClass'
    @click='handleClick')

    slot(name='label')

</template>

<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator'

  @Component({
    inheritAttrs: false,
  })
  export default class Button extends Vue {
    @Prop({ default: '' }) styleClass!: string
    @Prop({ default: false }) isDisabled!: boolean

    private initCssClass = ''

    get extCssClass(): string {
      let result = ''
      if (this.styleClass) {
        const extClasses = this.styleClass.split(' ')
        if (extClasses.length > 0) {
          result = extClasses.join(' ')
        }
      }
      if (this.initCssClass) {
        result += ' ' + this.initCssClass
      }
      if (this.isDisabled) {
        result += ' button--disabled'
      }

      return result.trim()
    }

    created() {
      const extClasses = []
      if (this.__checkAttr('primary')) {
        extClasses.push('button--primary')
      } else if (this.__checkAttr('info')) {
        extClasses.push('button--info')
      } else if (this.__checkAttr('danger')) {
        extClasses.push('button--danger')
      } else if (this.__checkAttr('cancel')) {
        extClasses.push('button--cancel')
      }

      if (this.__checkAttr('small')) {
        extClasses.push('button--sm')
      }
      if (this.__checkAttr('wide')) {
        extClasses.push('button--wide')
      }

      if (extClasses.length > 0) {
        this.initCssClass = extClasses.join(' ')
      }
    }

    private handleClick() {
      if (this.isDisabled) {
        return
      }

      this.$emit('click')
    }

    private __checkAttr(key: string) {
      return !!this.$attrs[key] || this.$attrs[key] === ''
    }
  }
</script>
