<template lang="pug">
  .form__control
    label.form__label(v-if='$slots.label')
      slot(name='label')

    template(v-if='isMultiline')
      textarea.form__text-input(v-model='value',
        @input='handleInput',
        :placeholder='placeholder',
        :class = 'extCssClass',
        :rows = 'rows'
        ref='targetMiltiline')

    template(v-else)
      input.form__text-input(v-model='value',
        @input='handleInput',
        @keyup.enter='submitInput',
        :placeholder='placeholder',
        :class = 'extCssClass'
        :type = 'type'
        ref='targetSingle')

    slot(name='error')

</template>

<script lang="ts">
  import { Component, Prop, Vue, Model, Watch } from 'vue-property-decorator'

  @Component({
    inheritAttrs: false,
  })
  export default class TextInput extends Vue {
    @Prop({ default: '' }) styleClass!: string
    @Prop({ default: '' }) placeholder!: string
    @Prop() rows!: number

    @Model('input')
    private modelValue!: string | undefined

    private value: string | undefined = ''
    private extCssClass: string | undefined = ''
    private type: string | undefined = 'text'
    private isMultiline = false

    @Watch('styleClass')
    private watchStyleClass() {
      this.cssClassesUpdate()
    }

    @Watch('modelValue')
    private watchModelValue() {
      this.value = this.modelValue
    }

    private created() {
      this.value = this.modelValue

      if (this.__checkAttr('number')) {
        this.type = 'number'
      }
      if (this.__checkAttr('phone')) {
        this.type = 'tel'
      }
      if (this.__checkAttr('password')) {
        this.type = 'password'
      }
      this.isMultiline = this.__checkAttr('multiline')

      this.cssClassesUpdate()
    }

    private mounted() {
      if (this.__checkAttr('focused')) {
        this.setFocus()
      }
    }

    private cssClassesUpdate() {
      const extClasses = this.styleClass.split(' ')
      if (extClasses.length > 0) {
        this.extCssClass = extClasses.join(' ')
      }
    }

    private handleInput() {
      this.$emit('input', this.value)
    }

    private submitInput() {
      this.$emit('submit')
    }

    public setFocus() {
      const target = this.isMultiline
        ? (this.$refs.targetMiltiline as HTMLTextAreaElement)
        : (this.$refs.targetSingle as HTMLInputElement)

      target.focus()
    }

    private __checkAttr(key: string) {
      return !!this.$attrs[key] || this.$attrs[key] === ''
    }
  }
</script>
