<template lang="pug">
  BaseModal(ref='modal')
    template(v-slot:title) {{ modalHeader }}
    template(v-slot:body)
      template(v-if='isComplete')
        .form__control
          .form__label Название
          div {{ titleValue }}

        .form__control
          .form__label Дедлайн
          div {{ endDateLabel }}

        .form__control(v-if='closed')
          .form__label Дата закрытия
          div {{ closedDateLabel }}

      template(v-else)
        TextInput(v-model='titleValue',
          label='Задача',
          placeholder='Опишите задачу',
          focused,
          :styleClass='$v.titleValue.$error ? "form__text-input--error" :  ""'
          @submit='confirm')

          template(v-if='$v.titleValue.$error', v-slot:error)
            .form__error(v-if="!$v.titleValue.required") Обязательное поле

        .grid__wrap.grid__wrap--gap
          .grid__el.grid__el--8_5(v-if='!isOpenEndDate')
            .grid__in
              .form__control
                .form__label Дедлайн
                Datepicker(:value='end',
                  :language='dateUI.lang',
                  :format='dateUI.format',
                  :disabled-dates='dateUI.disabledDates',
                  :full-month-name='true',
                  :inline='true',
                  :monday-first='true',
                  @selected='changeDate')

                template(v-if='$v.end.$error')
                  .form__error(v-if="!$v.end.required") Укажите дату

          .grid__el.grid__el--8_3
            .grid__in
              .form__control
                .form__label Формат
                Checkbox(v-model='isOpenEndDate')
                  template(v-slot:label) Без дедлайна

    template(v-slot:footer)
      template(v-if='isComplete')
        Button(@click='cancel', cancel)
          template(v-slot:label) Закрыть

      template(v-else)
        Button(@click='confirm', primary)
          template(v-slot:label) Сохранить

        Button(@click='cancel', cancel)
          template(v-slot:label) Отменить

</template>

<script lang="ts">
  import { required, requiredIf } from 'vuelidate/lib/validators'

  import Datepicker from 'vuejs-datepicker'
  import { ru as datePickerLocale } from 'vuejs-datepicker/dist/locale'
  import { TaskModel } from '@/store/types'
  import { BaseModalComponent } from '@/components/types'

  import { Component, Vue, Ref } from 'vue-property-decorator'

  @Component<TaskModal>({
    components: {
      Datepicker,
    },
    validations() {
      return {
        titleValue: {
          required,
        },
        end: {
          required: requiredIf(() => {
            return !this.isOpenEndDate
          }),
        },
      }
    },
  })
  export default class TaskModal extends Vue {
    private dateUI = {
      lang: datePickerLocale,
      format: 'd MMMM yyyy',
      disabledDates: {
        to: undefined,
      } as {
        to: Date | undefined
      },
    }

    private titleValue = ''

    private isComplete = false

    private end: Date | number | null = null

    private closed: Date | number | null = null

    private id = ''

    private isOpenEndDate = false

    private cb!: Function

    private get endDateLabel() {
      return this.end && !this.isOpenEndDate
        ? this.$dayjs(this.end).format('LL')
        : 'Задача без дедлайна'
    }

    private get closedDateLabel() {
      return this.closed && this.$dayjs(this.closed).format('LL')
    }

    private get modalHeader() {
      return this.id
        ? this.isComplete
          ? 'Данные задачи'
          : 'Редактирование задачи'
        : 'Новая задача'
    }

    @Ref('modal')
    private baseModal!: BaseModalComponent

    private created() {
      this.dateUI.disabledDates.to = new Date(+this.$dayjs().startOf('d'))
    }

    public showTask({ task, cb }: { task: TaskModel; cb: Function }) {
      this.titleValue = task.title
      this.id = task.id || ''
      this.isComplete = task.isComplete || false
      this.end = task.end || null
      this.closed = task.closed || null
      this.cb = cb
      this.$v.$reset()
      this.isOpenEndDate = !!(this.id && !this.end)
      this.baseModal.show()
    }

    private confirm() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        return
      }
      this.cb({
        id: this.id,
        title: this.titleValue,
        isComplete: false,
        end: this.isOpenEndDate ? null : this.end,
        closed: null,
      })
      this.baseModal.hide()
    }

    private cancel() {
      this.baseModal.hide()
    }

    private changeDate(value: Date | number) {
      this.end = +this.$dayjs(value).startOf('d')
    }
  }
</script>
