nowrap()
  white-space nowrap

h-clearfix()
  &:before,
  &:after
    content ''
    display table

  &:after
    clear both

grid-pad()
  padding-left ($grid-gutter-width / 2)
  padding-right ($grid-gutter-width / 2)

abs-fill()
  position absolute
  top 0
  left 0
  right 0
  bottom 0

lock-rotate()
  +to-width($screen-xm-max, orientation: landscape)
    html
      transform rotate(-90deg)
      transform-origin left top
      width 100vh
      overflow-x hidden
      position absolute
      top 100%
      left 0

h-arrow-differ($sizeX, $sizeY, $color, $type)
  width 0
  height 0
  if $type == right
    margin-top ($sizeY * -1)
    border-top $sizeY solid transparent
    border-bottom $sizeY solid transparent
    border-left $sizeX solid $color

  if $type == left
    margin-top ($sizeY * -1)
    border-top $sizeY solid transparent
    border-bottom $sizeY solid transparent
    border-right $sizeX solid $color

  if $type == down
    border-top $sizeY solid $color
    border-left $sizeX solid transparent
    border-right $sizeX solid transparent

  if $type == up
    border-bottom $sizeY solid $color
    border-left $sizeX solid transparent
    border-right $sizeX solid transparent

h-arrow($size, $color, $type)
  h-arrow-differ($size, $size, $color, $type)
