.card
  border-radius 2px
  background #fff
  box-shadow 0 1px 6px rgba(0,0,0,.15)
  height 100%
  padding (.25 * $grid-step)

  &--fluid
    height auto

  &__header
    $font-size = (2.25 * $grid-step)
    $line-height = (3 * $grid-step)
    $box-spacer = (2 * $grid-step - .25 * $grid-step)

    margin $box-spacer $box-spacer 0 $box-spacer
    font-weight $md-font-weight
    line-height $line-height
    font-size $font-size
    font-family $base-font

    &--border
      padding-bottom $grid-step
      border-bottom 1px solid #ccc

  &__body
    padding (2 * $grid-step - .25 * $grid-step)

  &__footer
    $box-spacer = (2 * $grid-step - .25 * $grid-step)

    margin 0 $box-spacer $box-spacer $box-spacer

    &--border
      padding-top $grid-step
      border-top 1px solid #ccc
