html.modal--open
  overflow hidden

.modal__wrap
  position fixed
  z-index 900
  width 100%
  height 100%
  top 0
  left 0
  transition all 0.2s ease
  visibility visible
  opacity 1

  &.hidden
    opacity 0
    visibility hidden

.modal__back
  width 100%
  height 100%
  background rgba(0, 0, 0, 0.7)
  overflow-y auto
  overflow-x hidden
  text-align center
  white-space nowrap
  font-size 0

  &:before
    content ''
    display inline-block
    height 100%
    width 1px
    margin-left -1px
    vertical-align middle

.modal__window
  background #fff
  padding 2 * $grid-step
  margin 20px auto
  width 600px
  display inline-block
  vertical-align middle
  text-align left
  white-space normal
  position relative
  font-size 16px
  line-height 20px

  &--wide
    width 900px

  +to-sm()
    width 640px
    padding 40px

  +to-xs()
    width auto
    padding 30px

.modal__close
  position absolute
  top 10px
  right 10px
  width 40px
  height 40px
  text-align center
  cursor pointer
  color #ccc
  font 400 40px / 1 Arial, sans-serif
  transition all 0.2s ease

  &:hover
    color #f00

.modal__header
  font-size (2.5 * $grid-step)
  line-height (3 * $grid-step)
  margin-bottom (3 * $grid-step)
  font-weight 500
  padding-right (4 * $grid-step)

.modal__footer
  padding-top (3 * $grid-step)
  overflow hidden

  .button
    &:first-child()
      float left

    &:last-child
      float right

    +to-xs()
      float none !important
      display block
      text-align center
      margin-top 15px
