border-box-html()

html
  height 100%

body
  margin 0 auto
  position relative
  color $base-font-color
  font-family $base-font
  font-size $base-font-size
  font-weight $base-font-weight
  line-height $base-line-height
  -webkit-font-smoothing subpixel-antialiased
  text-rendering optimizeLegibility
  background $background-page
  min-height 100%
  height auto !important
  height 100%

iframe
  vertical-align top

img
  max-width 100%
  vertical-align top

a
  @extend $underlineLink
  color $link-color

  &:hover
    color $link-hover

  &.clear-underline
    @extend $noUnderlineLink

b, strong
  font-weight 700

i, em
  font-style italic
