<template lang="pug">
  .container.container--md(v-if='isAuth')
    .card
      .card__header
        .grid__wrap.grid__wrap--wide.grid__wrap--middle
          .grid__el(v-html='`Привет, ${user.login}`')

          .grid__el.to-right
            Button(cancel, small, @click='logout')
              template(v-slot:label) Выход

      .card__body
        template(v-if='list && list.length')
          TaskItem(v-for='item in list'
            :key='item.id',
            :task='item',
            @remove='removeTask',
            @edit='editTask',
            @save='saveTask',)

        template(v-else)
          div У вас нет задач

      .card__footer
        Button(primary, @click='addTask')
          template(v-slot:label) Добавить задачу

    TaskModal(ref='taskModal')

</template>

<script lang="ts">
  import { Vue, Component, Ref } from 'vue-property-decorator'
  import { namespace, Getter } from 'vuex-class'

  import TaskModal from '@/components/modals/TaskModal.vue'
  import TaskItem from '@/components/elems/TaskItem.vue'

  import { TaskModalComponent } from '@/components/types'
  import { UserModel, TaskModel } from '@/store/types'

  const tasksStore = namespace('TasksData')
  const authStore = namespace('AuthData')

  @Component({
    metaInfo() {
      return this.$metaHelper.metaData({
        isShort: false,
        title: 'Todo page',
        description: 'Todo page description',
        url: this.$route.fullPath,
      })
    },
    components: {
      TaskModal,
      TaskItem,
    },
  })
  export default class HomeView extends Vue {
    @authStore.State
    private user!: UserModel

    @tasksStore.State
    private list!: TaskModel[]

    @authStore.Action('logout')
    private logoutAction!: () => Promise<void>

    @tasksStore.Action('saveTask')
    private saveTaskAction!: (task: TaskModel) => Promise<void>

    @tasksStore.Action('removeTask')
    private removeTaskAction!: (task: TaskModel) => Promise<void>

    @Getter('isAuth')
    private isAuthGetter!: () => boolean

    @Ref('taskModal')
    private taskModal!: TaskModalComponent

    private get isAuth() {
      return this.isAuthGetter
    }

    private get isAuthStorage() {
      return !!window[process.env.STORAGE].getItem('userData')
    }

    private logout() {
      this.logoutAction().then(() => {
        this.$router.push({ name: 'login' })
      })
    }

    private addTask() {
      this.editTask({} as TaskModel)
    }

    private editTask(task: TaskModel) {
      if (this.isAuthStorage) {
        this.taskModal.showTask({
          task,
          cb: this.saveTask,
        })
      } else {
        this.logout()
      }
    }

    private saveTask(task: TaskModel) {
      if (this.isAuthStorage) {
        this.saveTaskAction(task)
      } else {
        this.logout()
      }
    }

    private removeTask(task: TaskModel) {
      if (this.isAuthStorage) {
        this.removeTaskAction(task)
      } else {
        this.logout()
      }
    }
  }
</script>
