<template lang="pug">
  .container.container--slim(v-if='!isAuth')
    .card
      .card__header Вход
      .card__body
        TextInput(v-model='loginValue',
          label='Имя',
          placeholder='Введите имя',
          focused,
          :styleClass='$v.loginValue.$error ? "form__text-input--error" :  ""',
          @submit='goToPassInput')

          template(v-if='$v.loginValue.$error', v-slot:error)
            .form__error(v-if="!$v.loginValue.required") Обязательное поле
            .form__error(v-if="!$v.loginValue.minLength") Минимальная длина &mdash; 3 символа

        TextInput(ref='passInput',
          v-model='passwordValue',
          label='Пароль',
          placeholder='Введите пароль',
          password,
          :styleClass='$v.passwordValue.$error ? "form__text-input--error" :  ""',
          @submit='login')

          template(v-if='$v.passwordValue.$error', v-slot:error)
            .form__error(v-if="!$v.passwordValue.required") Обязательное поле
            .form__error(v-if="!$v.passwordValue.minLength") Минимальная длина &mdash; 3 символа

        Button(primary, wide, @click='login', :isDisabled='isPending')
          template(v-slot:label) Войти

    .pt-3.pl-3.pr-3(v-html='"Для входа подойдут любые данные не&nbsp;короче трех символов"')
</template>

<script lang="ts">
  import { required, minLength } from 'vuelidate/lib/validators'

  import { Component, Vue, Ref } from 'vue-property-decorator'
  import { namespace, Getter } from 'vuex-class'

  import { TextInputComponent } from '@/components/types'
  import { UserModel } from '@/store/types'

  const authStore = namespace('AuthData')

  @Component<Login>({
    metaInfo() {
      return this.$metaHelper.metaData({
        isShort: false,
        title: 'Login page',
        description: 'Login page description',
        url: this.$route.fullPath,
      })
    },
    validations() {
      return {
        loginValue: {
          required,
          minLength: minLength(3),
        },
        passwordValue: {
          required,
          minLength: minLength(3),
        },
      }
    },
  })
  export default class Login extends Vue {
    private loginValue = ''
    private passwordValue = ''
    private isPending = false

    @Getter('isAuth')
    private isAuthGetter!: () => boolean

    @authStore.Action('login')
    private loginAction!: (user: UserModel) => Promise<void>

    private get isAuth() {
      return this.isAuthGetter
    }

    @Ref('passInput')
    private passInput!: TextInputComponent

    private mounted() {
      this.$v.$reset()
    }

    private async login() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        return
      }
      this.isPending = true

      await this.loginAction({
        login: this.loginValue,
        password: this.passwordValue,
      })
        .then(() => {
          this.$router.push({ name: 'home' })
        })
        .catch((err) => console.log(err))
        .finally(() => (this.isPending = false))
    }

    private goToPassInput() {
      this.passInput.setFocus()
    }
  }
</script>
