$unchecked-color = #ccc
$unchecked-color--hover = #aaa
$checked-color = #34495e
$active_check-color = #fff

.form__checkbox, .form__radio
  display block
  padding ($grid-step / 2) 0 ($grid-step / 2) 4 * $grid-step
  margin 0
  font-size 2 * $grid-step
  line-height 3 * $grid-step
  vertical-align middle
  position relative
  cursor pointer

  ~ .form__error
    padding-left 4 * $grid-step

  .ui-checkbox, .ui-radio
    position absolute
    top ($grid-step / 2)
    left 0
    height 3 * $grid-step
    width 3 * $grid-step
    vertical-align top

    &__back
      fill $unchecked-color

    &__check, &__empty
      fill $active_check-color

  &:hover
    .ui-checkbox, .ui-radio
      &__back
        fill $unchecked-color--hover

  input[type='checkbox'], input[type='radio']
    margin $grid-step 0 0 0
    padding 0
    position absolute
    top 0
    left 0
    outline none
    opacity 0
    visibility hidden

    &:checked ~ .ui-checkbox
      .ui-checkbox
        &__back
          fill $checked-color !important

        &__empty
          display none

    &:checked ~ .ui-radio
      .ui-radio
        &__back,
        &__check
          fill $checked-color !important

  &--inline
    display inline-block