<template lang="pug">
  .modal__wrap(v-if='isActive')
    .modal__back
      .modal__window
        .modal__close(@click.stop='hide') &times;
        .modal__header(v-if='$slots.title')
          slot(name='title')

        .modal__body(v-if='$slots.body')
          slot(name='body')

        .modal__footer(v-if='$slots.footer')
          slot(name='footer')
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator'

  @Component
  export default class BaseModal extends Vue {
    private isActive = false

    public show() {
      document.documentElement.classList.add('modal--open')
      this.isActive = true
      this.$emit('activeStateModal', true)

      this.$nextTick(() => {
        const modals = document.querySelectorAll('div.modal__back')
        modals.forEach((el) => {
          el.scrollTop = 0
        })
      })
    }

    public hide() {
      document.documentElement.classList.remove('modal--open')
      this.isActive = false
      this.$emit('activeStateModal', false)
    }
  }
</script>
