<template lang="pug">
  .task.grid__wrap.grid__wrap--vspace.grid__wrap--gap.grid__wrap--middle(
    :class='{ "task--complete" : taskItem.isComplete }')
    .grid__el.grid__el--8_5
      .grid__in
        Checkbox(v-model='taskItem.isComplete', @change='save')
          template(v-slot:label)
            .task__title(v-html='taskItem.title')

        TaskState(:task='taskItem')

    .task__actions.grid__el.grid__el--8_3
      .grid__in.to-right
        Button(ref='editButton'
          :primary='!taskItem.isComplete',
          :info='taskItem.isComplete',
          small,
          :key='taskItem.isComplete'
          @click='edit')

          template(v-slot:label) {{ taskItem.isComplete ? 'Просмотр' : 'Изменить' }}

        Button(ref='removeButton' danger, small, @click='remove')
          template(v-slot:label) Удалить

</template>

<script lang="ts">
  import TaskState from '@/components/elems/TaskState.vue'

  import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
  import { TaskModel } from '@/store/types'

  @Component({
    components: { TaskState },
  })
  export default class TaskItem extends Vue {
    @Prop({ required: true }) task!: TaskModel

    private taskItem = {} as TaskModel

    private created() {
      this.taskItem = { ...this.task }
    }

    @Watch('task')
    private taskWatch() {
      this.taskItem = { ...this.task }
    }

    private edit() {
      this.$emit('edit', this.taskItem)
    }

    private save() {
      this.taskItem.closed = this.taskItem.isComplete
        ? +this.$dayjs().startOf('d')
        : null
      this.$emit('save', this.taskItem)
    }

    private remove() {
      this.$emit('remove', this.taskItem)
    }
  }
</script>

<style lang="stylus">
  .task
    .form__control
      padding 0

    &__info
      padding-left 32px
      font-size 14px
      color #999

    &--complete
      .task__title
        text-decoration line-through
</style>
