<template lang="pug">
  .task__info(v-html='taskState')
</template>

<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator'
  import { TaskModel } from '@/store/types'

  @Component
  export default class TaskState extends Vue {
    @Prop({ required: true }) task!: TaskModel

    private get taskState() {
      return this.taskStateToString()
    }

    private taskStateToString() {
      if (this.task.isComplete) {
        return 'завершена'
      }
      if (!this.task.end) {
        return 'без дедлайна'
      }
      const nowDate = +this.$dayjs().startOf('d')

      const diff = (+this.task.end - nowDate) / 1000
      const days = Math.floor(diff / 86400)

      if (days === 0) {
        return 'завершается сегодня'
      }
      if (days > 0) {
        return `${this.plural(
          days,
          'остался',
          'осталось'
        )} ${days} ${this.plural(days, 'день', 'дня', 'дней')}`
      }

      return `просрочена на ${-days} ${this.plural(
        days,
        'день',
        'дня',
        'дней'
      )}`
    }

    private plural(number: number, one: string, two: string, five?: string) {
      let n = Math.abs(number)
      n %= 100
      if (n >= 5 && n <= 20) {
        return five ?? two
      }
      n %= 10
      if (n === 1) {
        return one
      }
      if (n >= 2 && n <= 4) {
        return two
      }
      return five ?? two
    }
  }
</script>
