<template lang="pug">
  .content
    .screen
      .container
        .err__label 404
        .err__text.err__text--lg Такой страницы не существует
        .err__text Попробуйте воспользоваться поиском или начните с <router-link to='/'>главной страницы</router-link>

</template>
<script lang="ts">
  import { Vue, Component } from 'vue-property-decorator'

  @Component({
    metaInfo() {
      return this.$metaHelper.metaData({
        isShort: false,
        title: '404 error',
        description: '404 error',
        url: this.$route.fullPath,
      })
    },
  })
  export default class NotFound extends Vue {
    private mounted() {
      if (this.$np) this.$np.done()
    }
  }
</script>
