h-make-grid(8)
h-make-grid(12)
h-make-grid(16)

.wrap
  padding 2 * $grid-step

.container
  max-width 146 * $grid-step
  margin 20px auto

  &--md
    max-width 90 * $grid-step

  &--slim
    max-width 40 * $grid-step

.grid__el
  min-width 8 * $grid-step

  &--to-end
    align-self flex-end

.grid__wrap
  @extend $flexRow

  &--wide
    justify-content space-between

    .grid__el
      flex-grow 1

  &--nowrap
    flex-wrap nowrap

  &--middle
    align-items center

  &--gap
    margin-left -2 * $grid-step
    margin-right -2 * $grid-step

    .grid__in
      padding 0 2 * $grid-step

    +to-sm()
      margin-left -1 * $grid-step
      margin-right -1 * $grid-step

      .grid__in
        padding 0 $grid-step

  &--gap-xs
    margin-left -1 * $grid-step
    margin-right -1 * $grid-step

    .grid__in
      padding 0 $grid-step

  &--vspace
    &.grid__wrap
      &--gap
        > .grid__el
          margin-top 2 * $grid-step
          margin-bottom 2 * $grid-step

          +to-sm()
            margin-top $grid-step
            margin-bottom $grid-step

      &--gap-xs
        > .grid__el
          margin-top $grid-step
          margin-bottom $grid-step

  &--tspace
    &.grid__wrap
      &--gap
        > .grid__el
          margin-top 2 * $grid-step

          +to-sm()
            margin-top $grid-step

      &--gap-xs
        > .grid__el
          margin-top $grid-step

  &--bspace
    &.grid__wrap
      &--gap
        > .grid__el
          margin-bottom 2 * $grid-step

          +to-sm()
            margin-bottom $grid-step

      &--gap-xs
        > .grid__el
          margin-bottom $grid-step

  +to-xs()
    display block

.grid__in
  height 100%
