h-button-skin($color)
  background-color $color
  box-shadow 0 1px 3px 0 rgba(0, 0, 0, 0.25)

h-button-skin-hover($color)
  background-color $color
  box-shadow 0 3px 9px 0 rgba(0, 0, 0, 0.15)

h-button-skin-press($color)
  background-color $color
  box-shadow 0 1px 3px 0 rgba(0, 0, 0, 0.25)

h-button-reset()
  margin 0
  outline 0 none
  vertical-align middle
  appearance none
  border 0
  text-decoration none !important
  border-radius (.25 * $grid-step) !important
  transition all 0.2s ease
  text-align center !important
  display inline-block
  white-space nowrap
  position relative
  cursor pointer

$button-reset
  h-button-reset()
