h-flexRow()
  display flex
  flex-flow row wrap
  align-content flex-start
  align-items stretch
  justify-content flex-start

h-flexSize(blockSize, gridSize)
  flex-basis (100% / gridSize * blockSize)

h-make-grid($gridSize)
  for $counter in 1..$gridSize
    .grid__el--{$gridSize}_{$counter}
      h-flexSize($counter, $gridSize)

h-offsets()
  for $counter in 0..8
    $value = $counter/2 * $grid-step

    .mt-{$counter}
      margin-top ($value)
    .mb-{$counter}
      margin-bottom ($value)
    .ml-{$counter}
      margin-left ($value)
    .mr-{$counter}
      margin-right ($value)

    .pt-{$counter}
      padding-top ($value)
    .pb-{$counter}
      padding-bottom ($value)
    .pl-{$counter}
      padding-left ($value)
    .pr-{$counter}
      padding-right ($value)

    if($counter > 0)
      .mt--{$counter}
        margin-top (-1 * $value)
      .mb--{$counter}
        margin-bottom (-1 * $value)
      .ml--{$counter}
        margin-left (-1 * $value)
      .mr--{$counter}
        margin-right (-1 * $value)

$flexRow
  h-flexRow()
