h-underline-link($defColor, $hoverColor)
  text-decoration none
  background-image linear-gradient(to bottom, rgba($defColor, 0.68) 50%, rgba($defColor, 0) 50%)
  background-repeat repeat-x
  background-size 2px 0.1em
  background-position 0 1.07em

  &:hover
    background-image linear-gradient(to bottom, rgba($hoverColor, 0.68) 50%, rgba($hoverColor, 0) 50%)

$underlineLink
  h-underline-link($link-color, $link-hover)

$noUnderlineLink
  background none !important